.my-ads-main-container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .header {
        padding-bottom: 20px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: flex-end;

        .new-ad {
            background-color: #941010;
            color: white;
            font-size: 2rem;
            border-radius: 10px;
            padding: 10px 20px;
            border: none;
        }
    }

    .ad-card {
        border-radius: 10px;
        width: 100%;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;


        .image-container {
            height: 135px;
            width: 240px;
            min-width: 240px;
            position: relative;
            overflow: hidden;
            background-color: #b7b7b7;


            img {
                width: 100%;
                position: absolute;
            }
        }

        .main-container {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .name-price {

                h2 {
                    font-size: 2.4rem;
                }

                h3 {
                    font-size: 1.8rem;
                    color: #941010;
                }
            }

            .action-container {
                display: flex;
                gap: 10px;

                button {
                    padding: 10px 20px;
                    font-size: 1.6rem;
                    font-weight: 500;
                    border-radius: 10px;
                    background-color: white;
                }

                .edit-btn {
                    border: 2px solid #054b8b;
                    color: #054b8b;
                }

                .edit-btn:hover {
                    color: white;
                    background-color: #054b8b;
                }

                .delete-btn {
                    border: 2px solid #941010;
                    color: #941010;
                }

                .delete-btn:hover {
                    color: white;
                    background-color: #941010;
                }
            }

        }
    }
}