.my-ads-main-container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .header {
        padding-bottom: 20px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: flex-end;

        .new-ad {
            background-color: #941010;
            color: white;
            font-size: 2rem;
            border-radius: 10px;
            padding: 10px 20px;
            border: none;
        }
    }

    
}