// @use 'assets/variables' as variables;
$primary-color-300: #941010;
$white: #fff;
$tertiary-color-300: #054b8b;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}

html {
	font-size: 62.5%;
}

body {
	min-height: 100vh;
	
	button {
		font-size: 1.6rem;
		padding: 5px 20px;
		border-radius: 10px;
		cursor: pointer;
	}
}

.primary-action-btn {
	color: #ffffff;
	border: 2px solid #941010;
	background-color: #941010;
	font-weight: 500;
}

.secondary-action-btn {
	color: #941010;
	border: 2px solid #941010;
	background-color: white;
	font-weight: 500;
}

.tertiary-action-btn {
	color: $white;
    border: 2px solid $tertiary-color-300;
	background-color: $tertiary-color-300;
	font-weight: 500;
}

.disabled{
	cursor: default;
}